@import 'bootstrap';

//containers working temporarly as sliders
.box{
  margin-right: auto;
  width: 400px;
  height: 400px;
  overflow: hidden;
  word-wrap: break-word;
}

.boxSecond{
  width: 300px;
  height: 300px;
  margin: 50px;
  overflow: hidden;
  word-wrap: break-word;
}

.textInsideBoxSecond{
  height: 250px;
  padding: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.textInsideBox{
  height: 300px;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

//end 
//header
.headerMod{
  position:fixed;
  top:0;
  width: 100%;
}

.firstElement{
  padding-top:80px;
}
//end
//input containers

.bigInputBox{
  width: 80%;
  height: 200px;
  align-self: center;
}

//end

body {
  font-family: sans-serif;
  font-size: 1.5rem;
}

img {
  max-width: 50vw;
  max-height: 25vw;
  display: block;
  margin: auto;
}

.center {
  text-align: center;
  align-self: center;
}

form {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  flex-flow: row wrap;
  max-width: 40vw;
  margin: auto;
  align-items: baseline;
}

button[type="submit"] {
  padding: 5px 20px;
  margin: 10px auto;
  float: right;
}

#greeting {
  margin: 10px auto;
  padding: 10px 60px;
  border: 1px solid #222;
}

#greeting:empty {
  display: none;
}
